* {
    margin:0;
    padding:0;
}
body {
    font:14px arial;
    background-color:#000
}
.sortable-placeholder {
    border:5px dashed yellow;
    box-sizing:border-box;
}
#controls {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 10px solid #000;
    background-image:url(../img/logo.png);
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size:auto 50px;
}
#controls > .station {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: cover;
    overflow: hidden;
}
#controls.error > .station {
    background-image:url(../img/err.png) !important;
}

@keyframes loading {
    0%   {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
#controls.loading > .station {
    animation: loading 3s infinite linear;
}
#controls.loading > .station > div:after {
    content: "טוען";
    text-align: center;
    font-size: 25px;
    display: block;
    line-height: 150px;
    color:#fff;
}
@keyframes playing {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#controls.playing > .station {
    animation: playing 5s infinite linear;
}

#controls > .text {
    position: relative;
    float: left;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
    width: calc( 100% - 315px );
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
    text-align: left;
    /* text-overflow: ellipsis; */
}
#controls > .text > span {    
    display: inline-block;
    animation: marquee 8s infinite linear;
}


#boxes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 110px 5px 110px 5px;
    list-style-type: none;
}
#boxes > li {
    position: relative;
    float: left;
    margin:5px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius:10px;    
}
.anim {
    position:fixed;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius:10px;  
    z-index:999; 
}

@media screen and (max-width: 700px) {
    #controls {
        background-image:url(../img/logosm.png);
    }
    #controls > .text {
        width: calc( 100% - 155px );
    }
}



